{% extends "RigauxtAlumniBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Adhérer{% endblock %}

{% block rigauxtalumni_body %}
	<div class="row">
		<div class="col-md-12">
			<h2>Adhérer</h2>
		</div>
	</div>
	<div class="alert alert-warning">// Futur : Formulaire d'adhésion, a voir avec responsable pour format, surement stocké pour etre validé par un modo/membre important</div>
{% endblock %}
