{% extends "RigauxtAlumniBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - L'Association{% endblock %}

{% block rigauxtalumni_body %}
	<div class="row">
		<div class="col-md-12">
			<h2>L'Association</h1>
			
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet ligula quis enim lobortis ultrices. Donec porta turpis ac lorem imperdiet fringilla. Nam id vulputate neque. Quisque pharetra euismod risus condimentum sodales. Fusce et nibh felis. In hac habitasse platea dictumst. Integer viverra eu leo vel tincidunt. Nullam velit magna, accumsan nec dolor nec, laoreet pellentesque nulla. Etiam id varius diam.<br/>
				<br/>
				Pellentesque id sem sed risus semper tristique. Quisque auctor quis leo in hendrerit. Quisque ultricies augue turpis. Etiam sit amet consequat turpis, vitae cursus velit. Praesent volutpat mi sed nisi lacinia, eu pharetra magna consequat. Integer ultrices erat tortor, sit amet posuere tellus viverra tincidunt. Cras tempor enim lorem. Mauris sed metus pretium, consectetur ante a, euismod magna. Fusce tristique erat ac dui facilisis facilisis. Aliquam tempus gravida sem quis pulvinar. Morbi eu nisi enim. Suspendisse euismod sodales sapien non imperdiet. Sed sed euismod sapien. In consectetur lobortis feugiat. Donec vel risus ipsum.
			</p>
		</div>
	</div>
	<div class="alert alert-warning">// Futur : Texte de présentation (peut etre modifiable par admin ou autres comme president)</div>
{% endblock %}
