{% extends "RigauxtAlumniBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Contact{% endblock %}

{% block rigauxtalumni_body %}
	<div class="row">
		<div class="col-md-12">
			<h2>Contact Asso</h2>
			
			<p>
				Liste de contacts ...
			</p>
		</div>
	</div>
	
	<hr>
	
	<div class="row">
		<div class="col-md-12">
			<h2>Contactez nous</h2>
			
			<p>
				Futur formulaire.
			</p>
		</div>
	</div>
	<div class="alert alert-warning">// Futur : Contacts utiles de l'assoc + formulaire de contact qui soit : envoye mail au responsables, stocke en bdd pour etre lu par responsable</div>
{% endblock %}
